@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');


:root {
    --misty-rose: #F4DBD8;
    --rose-quarts: #BEA8A7;
    --rosy-brown: #C09891;
    --liver: #775144;
    --black-bean: #2A0800;
}

body {
    background-image: linear-gradient(30deg, var(--black-bean), var(--liver));
background-attachment: fixed;
    color: var(--misty-rose);
    height: 100vh;
    overflow: scroll;
    padding: 1rem 1rem;
    display: grid;
    place-content: center;
}

body,
input {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

